PORT=8080
MONGO_DB='mongodb+srv://tiwariraj1202:RAJtiwari9165%40@cluster0.dwmup.mongodb.net/SetGo?retryWrites=true&w=majority&appName=Cluster0' 
EMAIL_USER=
EMAIL_PASS=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_SECRET=

# Redis
REDIS_PASSWORD=SzqU3qp5fdBhsQiIxuoLHjFDAP59IVd7
REDIS_HOST=redis-14708.c239.us-east-1-2.ec2.redns.redis-cloud.com
REDIS_PORT=14708


GOOGLE_MAPS_API_KEY=
SERVER_FRONTEND=http://localhost:5173
SERVER_BACKEND=http://localhost:8080