PORT=8080
SERVER_FRONTEND=http://localhost:5173
SERVER_BACKEND=http://localhost:8080
PAYMENT_SERVICE_URL=http://localhost:3001
PAYMENT_SERVICE_SECRET=your-secret-here
JWT_SECRET=shared-with-payment-service

MONGO_DB='mongodb+srv://tiwariraj1202:RAJtiwari9165%40@cluster0.dwmup.mongodb.net/SetGo?retryWrites=true&w=majority&appName=Cluster0'
EMAIL_USER=tiwariraj1202@gmail.com
EMAIL_PASS=jogm gobq tijv mtdi
REFRESH_TOKEN_SECRET=YASHBHADWA
ACCESS_TOKEN_SECRET=d=XT.=DIzN=Ggw0
TWILIO_ACCOUNT_SID='ACb843dc193d40cb2d98bed3e5e94448ed'
TWILIO_AUTH_TOKEN='eca2bbff78ffd1d320b3ac8d0e93e966'
TWILIO_VERIFY_SERVICE_SID='VAccc0b1ee116f370305bf19c00fa44ed4'
REDIS_PASSWORD=SzqU3qp5fdBhsQiIxuoLHjFDAP59IVd7
REDIS_HOST=redis-14708.c239.us-east-1-2.ec2.redns.redis-cloud.com
REDIS_PORT=14708
GOOGLE_MAPS_API_KEY=AIzaSyCXuiQEUHhZYQx_EwEPbHyTIv0aSD2wCow
Admin_Id=68ab07c068c5da0e120815bc