PORT=
MONGO_DB=
EMAIL_USER=
EMAIL_PASS=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_SECRET=

# Redis
REDIS_PASSWORD=SzqU3qp5fdBhsQiIxuoLHjFDAP59IVd7
REDIS_HOST=redis-14708.c239.us-east-1-2.ec2.redns.redis-cloud.com
REDIS_PORT=14708